dist: trusty
sudo: required
language: bash
services:
- docker
env:
  global:
  - secure: fpFAa2wHk4EDfPl5cfDtVsxZtdXOiR3NuZaTehoeXjokF5KpSv6FbTSAk/N5jnpvo5zMYhoNV06RK+AFsSCJ478gfcdbaqAuWd+Zpwqx/R7P6M2+LpKAixTlfmB4CjjG3M0jiovjCI1HN7nca3DKyb+t0hbVe0vZxkbyNdrMqufWoCPZP8Js9dACVtb1OY1uHPhQFgpDCP37VFblg2OMN5Exg5A6EE03VcgV6cMInYASA9JttRxaP71ytlTNwc1b2fa/HCM8WCXN1cksnipvHGRqh99oWMRuS9o4OU8+ckD4pJJMxOeT97I/uaTVAy3TE8m/18jQkzm18yVtlyW9A2OwQVMGbNk5bJaT9AOXtO9ViGdf2WzmkelJZQIA4mnU8G0P1oXs3qO4u1J079n/vlb/8hc4yoaVYvuvqx2XMf1kZ3M30jNnH8yRc6Q0+cw/B7GzbOHlTR6wvYRbWHvfuI8ZOLS8VWRjxtgB2fhKh2qP4lmv6TPKyTFAlMmcCTzKQTQ+DKycdF+Q4pSc1XVIDvVKBq57qSos7VRVhSJxkNLHIZzul8efGw/o/KIhVecDtgVPPP0BByZg1NZYKa+b6t9Y1149R1CrBJn5a1k//grPQ0je/mbS2AfQiR4bLK7dj8Y0TH11rvvqEALkA5gNSUyFg+zp9IFO3i2Ulg0ULEA=
  - secure: Mugr2Z23peIoB1cRN5VQpuOtCOkjpd9rLNrtN9yQ/fLoLam6YNJjfXg0QG/u5UZD0LTD18urTkv68ltNxYVzdHAaxs2Ml4tEbnEgSNk321P46JK9YUo5lJdvAIgIuZeymucdSpKQV5MN8R5dUmdNlXZSsqtZFWxE00C7vKivhleBCEEPUD5QDZU2BytDdyK7NF2paCYSDdCUViIRF+xQFLdPlAnrH9NaLtZ3bGYQOt9BIksnj4lIEs0h+h21u8IU+fzUVXP386V+zxmY7pwyIajOWteqoHHv+LnZc1WxwUntiBhxkyFdZiWduJf0K1aVbB6pPFXfuK29zAd2XEQ2VZXjv7odTTgEjUnGIfYTwxz9Vm7fencbZf9vi3SG8vSky6vZQhrBQRRIl95ZXwnKz49HIZxQ64jt6HECQdfkTmvCCUuUA3fqY5EfNgLF/Q8j1QsXeXII81vBTnJk7RYPtP49go1kmE/d9Av5kCqMgOQgis6DmW7KTHR2uqjfHNZOv2fA3GTwd5P68LVG4lxoVnSV4FkEN4ZRUF18s8BH6r4TCJ/4BogQOsBhb0nZxn0PSqK9Msec6+b4NGo1qIYlqNEF6n0dR+t6Lhsf979EpRQkk9ysfu3XWdjLzUjxhUvu8kTPOPcN8/hz1oOYTLh1g8HLf2XC7j8FuUIYCEPEpag=
before_install:
- docker pull pykaldi/prereqs:latest
install:
- |
  docker build --tag pykaldi/pykaldi:latest -f $TRAVIS_BUILD_DIR/docker/Dockerfile.travis.master .
after_success:
- |
  if [[ $TRAVIS_PULL_REQUEST == "false" ]] && [[ $TRAVIS_BRANCH == "master" ]]; then
    docker login -u $DOCKER_USER -p $DOCKER_PASS;
    docker push pykaldi/pykaldi:latest
  fi
notifications:
  slack:
    secure: ZGA0qLAztsvJ1ITmrwY62eKiCQ+aQLAC9z7VesoC+3rlUEZRi65sv3aT3/gfpzAPba4sbkc9dFtP1Aaae3r2qAlhCAQyvuuHzSwVoAd5ANwOdkfWIOjoDoT4gLskUOa0dSvYmvPwPPRUIVJV5gUOsIEl6T6exDpBmVZn3KtkvkFjx/jffoAiyDNCobvhIC+ZGO64cJU561IJ7VBKqSDMRTQSv0v1nAmgYg15IdOB71VGv035/eLQuGnO2uztEzUva0lYPCROMvqHP/EQE1L2ASHR3o0QP/DNRZulutndmGnXEkcZUhYo7Hr8+JTbucffuCbMBuE/V57bX54nEbGQpU4qyspT0bhooZacHDxQWIGMO+bmdh7XN4wNZIEVC/fGNE1U/aFFmzC14ydGpp7i8sfQ3aOUVgZGnm7t4w8DfPrpqnzOod5B63RtoWqDjhknk6Nz249xTlGa2Ayt3JL5j0UE2J0TAE3ihBiWfH8Hkki3etA4a6DwfujaOE/AUceIpH2WCNoNko5YNkO+hD2fkwaysViB1feYDIwihM5/3NAyf4/NBRE7/46QovlyRD/lT5wxgJk9QDyxliZsDv8VLbWrihEjGmRnzhhfA0fESpSQv6i1Brxs6Rq28k2wfYfkTJW4NIV4dXQMO02Nmc9QrmhM+6xHTsp5/Kw3VHuMcs8=
